<%
@page_title = "Editing a user"
%>

<% content_for :script do %>
  <%= javascript_include_tag "edit" %>
<% end %>

<%= link_to "All people I follow", "/welcome/list_pif", :class=>"pif_link" %>

<h2>Editing a User</h2>
<div id="edit_page">

  <%= form_for @user do |f| -%>
    <p>
      <label>User name:</label> <%= @user.name %>
    </p>
    <p>
      <label id="tags_label">Tag:</label><%= text_field_tag "tag", @user.tag %>
    </p>
    <p>
      <label>Tag Published:</label>
      <%= is_tag_published(@user.tag) %>
    </p>
    <%= submit_tag 'Save', {:id=> "save_button"} %>
    <div id="tags_area">
      <b>My tags:</b> (<b>bold</b> if tag is published)
    </div>
    <div id="tags_list">
      <%= all_my_tags %>
    </div>

  <% end -%>

</div>