<% 
@page_title = "Editing a user"
%>

<%= link_to "All people I follow",{ :action => "list_pif"},  :class=>"pif_link" %>

<h2>Editing a User</h2> 
<div id="edit_page">
  <p>
    <label>User name:</label> <%= @user.name %>
  </p>
  <p>
    <label>Tags:</label> <%= @user.tag_list %>
  </p>
  <p>
    <label>Tags Published:</label>
    <%= display_tags(@user.taggings) %>
  </p>

  <div id="tags_area">
    <b>My tags:</b>
  </div>
  <div id="tags_list">
    <%= all_my_tags %>
  </div>

</div>