<% 
@page_title = "Home"
%>

<div id="main_page">

<h1>Larry's Twitter App</h1>

<h2>Functions</h2>

<h3>SHOW INFO:</h3>
<table id="show_info">

<tr><td>&bull; <%= link_to "List people I follow", :action => "list_pif" %> - <%= @following %></td><td>Last updated: <%= iflu %> </td></tr>

<tr><td>&bull; <%= link_to "Stats", :action => "list_stats" %></td><td>Last updated: <%= earlier %></td></tr>

<tr><td>&bull; <%= link_to "List my followers", :action => "list_follers" %>  - <%= @followers %></td><td>Last updated: <%= flu %></td></tr>

<tr><td>&bull; <%= link_to "List Unfollowed me", :action => "list_unfollowed" %> </td><td>Last updated: <%= flu %></td></tr>

<tr><td>&bull; <%= link_to "List people I unfollowed (or changed usernames)", :action => "list_idropped" %> </td><td>Last updated: <%= iflu %></td></tr>

<tr><td>&bull; <%= link_to "List people I follow with fewer followers than me", :action => "list_fewer" %> </td><td>Last updated: <%= earlier %></td></tr>

</table>

<h3>UPDATE MY DATABASE:</h3>

<ul>
  
<li><%= link_to "Add a new person I follow", :action => "add_pif" %>  </li>

<li><%= link_to "Update my followers list", :action => "update_follers" %> Last updated: <%= flu %> </li>

<li><%= link_to "Update list of people I follow (incl. their nbr of followers)", :action => "update_pif", :method => :post %> Last updated: <%= iflu %> </li>  <% #1 %>

</ul>

</div>