<% 
@page_title = "People I follow"
%>

<h1>People I follow - <%= @count %></h1>
Updated:  <%= iflu %><br/><br/>
<table>
  <thead>
    <tr>
      <th><%=sortable "i_follow_nbr", "I Follow Nbr" %></th>
      <th><%=sortable "name" %></th>
      <th>Tag(s)</th>
      <th><%=sortable "nbr_followers", "Nbr Of Followers" %></th>     
      <th>Follows Me?</th>       
      <th><%=sortable "last_time_tweeted" %></th>
      <th></th>
    </tr>
  </thead>
  
  <%= render(:partial => "ifollow_row", :collection => @users) %> 
</table>
