<% @page_title = "People I follow" %>

<% content_for :script do %>
  <%= javascript_include_tag "jquery.metadata" %>


<% end %>

<h1>People I follow - <%= @count %></h1>
Updated:  <%= iflu %><br/><br/>
<table id="myPifs">
  <thead>
    <tr>
      <th><%= link_to "I Follow Nbr", :sort => "i_follow_nbr" %></th>
      <th><%= link_to "Name", :sort => "name"  %></th>
      <th><%= link_to "Tag", :sort => "tag" %></th>
      <th><%= link_to "Nbr Of Followers", :sort => "nbr_followers" %></th>
      <th><%= link_to "Follows Me?", :sort => "follows_me" %></th>
      <th><%= link_to "Last Time Tweeted", :sort => "last_time_tweeted" %></th>
      <th></th>
    </tr>
  </thead>
  <%= render(:partial => "ifollow_row", :collection => @users) %>

  <%= will_paginate @users %>

</table>
