<% @page_title = "My Followers" %>

<% content_for :script do %>
  <%= javascript_include_tag "jquery.metadata" %>
  <%= javascript_include_tag "jquery.tablesorter" %>  
  <%= javascript_include_tag "list_follers" %>
<% end %>

<h1>My Followers - <%= @count %></h1>
Updated:  <%= flu %><br/><br/>
<table id="myFollowers" class="tablesorter">
  <thead>
    <tr>
      <th><u>Follows Me Nbr</u></th>
      <th><u>Name</u></th>     
      <th><u>I Follow?</u></th>
    </tr>
  </thead>
  
  <%= render(:partial => "foller_row", :collection => @followings) %> 
</table>