<% @page_title = "People I follow" %>

<% content_for :script do %>
  <%= javascript_include_tag "jquery.metadata" %>


<% end %>

<h1>People I follow - <%= @count %></h1>
Updated:  <%= iflu %><br/><br/>
<table id="myPifs">
  <thead>
    <tr>
      <th><%= sortable "i_follow_nbr", "I Follow Nbr" %></th>
      <th><%= sortable "name" %></th>
      <th><%= sortable "tag", "Tag" %></th>
      <th><%= sortable "nbr_followers", "Nbr Of Followers"  %></th>
      <th><%= sortable "follows_me", "Follows Me?" %></th>
      <th><%= sortable "last_time_tweeted", "Last Time Tweeted" %></th>
      <th></th>
    </tr>
  </thead>
  <%= render(:partial => "ifollow_row", :collection => @users) %>

  <%= will_paginate @users %>

</table>
