<h1>People Who Have Recently Unfollowed Me</h1>
Updated: <%= flu %><br/><br/> 

<table>
  <thead>
    <tr>     
      <%= sort_header_tag('name') %>      
      <%= sort_header_tag('fmr_follows_me_nbr') %>
      <%= sort_header_tag('i_follow')%>
    </tr>
  </thead>
  
  <%= render(:partial => "quitter_row", :collection => @my_quitters) %> 
</table>
