<% 
@page_title = "Stats"
%>

<div id="stat_page">
<h1>Stats</h1>
Updated: <%= earlier %><br/><br/>
<table>

  <tr><td>Following:</td><td class="stat"> <%= @following %></td></tr>
  <tr><td>Followers I have:</td><td class="stat"> <%= @followers %></td></tr>
  <tr><td>More than me:</td><td class="stat"> <%= @more %>, <%= @more_pct %>%</td></tr>
  <tr><td><%= link_to "Less or = to me:", :action => "list_fewer" %></td><td class="stat"> <%= @less_eq %>, <%= @less_pct %>%</td></tr>
  <tr><td>OF PEOPLE I FOLLOW:</td></tr>
  <tr><td>Median followers:</td><td class="stat"> <%= number_with_delimiter(@median_fol.to_i) %></td></tr>
  <tr><td>Mean followers:</td><td class="stat"> <%= number_with_delimiter(@mean_fol.to_i) %></td></tr>
</table>
</div>