<h1>My Followers - <%= @count %></h1>
Updated:  <%= flu %><br/><br/>
<table>
  <thead>
    <tr>
      <%= sort_header_tag('follows_me_nbr') %>
      <%= sort_header_tag('name') %>
    </tr>
  </thead>
  
  <%= render(:partial => "foller_row", :collection => @follers) %> 
</table>