<% @page_title = "People I follow" %>

<% content_for :script do %>
  <%= javascript_include_tag "jquery.metadata" %>
<% end %>

<h1>People I follow - <%= @count %></h1>
Updated:  <%= iflu %><br/><br/>

<% page_num = @page_wanted.to_i %>

<% prev_page_num = (page_num == 1 ? 1 : page_num - 1) %>

<div class="pagination">
  <%= link_to "Page 1", welcome_list_pif_path(:page => 1, :sort => @sort, :direction => @direction) %>
  <%= link_to "Previous", welcome_list_pif_path(:page => prev_page_num, :sort => @sort, :direction => @direction) %>
  <%= link_to "Next", welcome_list_pif_path(:page => page_num + 1, :sort => @sort, :direction => @direction) unless page_num == @total_pages %>
  <%= link_to "Last", welcome_list_pif_path(:page => @total_pages, :sort => @sort, :direction => @direction) %>
</div>

<table id="myPifs">
  <thead>
    <tr>
      <th><%= sortable "i_follow_nbr", "I Follow Nbr" %></th>
      <th><%= sortable "name" %></th>
      <th><%= sortable "tag", "Tag" %></th>
      <th><%= sortable "nbr_followers", "Nbr Of Followers"  %></th>
      <th><%= sortable "follows_me", "Follows Me?" %></th>
      <th><%= sortable "last_time_tweeted", "Last Time Tweeted" %></th>
      <th></th>
    </tr>
  </thead>
  <%= render(:partial => "ifollow_row", :collection => @users) %>

</table>
