<% 
@page_title = "My Followers"
%>

<h1>My Followers - <%= @count %></h1>
Updated:  <%= flu %><br/><br/>
<table>
  <thead>
    <tr>
      <th><%= sortable "follows_me_nbr", "Follows Me Nbr" %></th>
      <th><%= sortable "name" %></th>     
    </tr>
  </thead>
  
  <%= render(:partial => "foller_row", :collection => @follers) %> 
</table>